-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: petvida
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `animais`
--

DROP TABLE IF EXISTS `animais`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `animais` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(50) NOT NULL,
  `especie_id` int(11) NOT NULL,
  `raca` varchar(30) DEFAULT NULL,
  `data_nascimento` date DEFAULT NULL,
  `tutor_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `especie_id` (`especie_id`),
  KEY `tutor_id` (`tutor_id`),
  CONSTRAINT `animais_ibfk_1` FOREIGN KEY (`especie_id`) REFERENCES `especies` (`id`),
  CONSTRAINT `animais_ibfk_2` FOREIGN KEY (`tutor_id`) REFERENCES `tutores` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `animais`
--

LOCK TABLES `animais` WRITE;
/*!40000 ALTER TABLE `animais` DISABLE KEYS */;
/*!40000 ALTER TABLE `animais` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `consultas`
--

DROP TABLE IF EXISTS `consultas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `consultas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `animal_id` int(11) NOT NULL,
  `veterinario_id` int(11) NOT NULL,
  `data_hora` datetime NOT NULL,
  `diagnostico` text DEFAULT NULL,
  `valor` decimal(10,2) NOT NULL,
  `status` enum('agendada','em_atendimento','concluida','cancelada') NOT NULL DEFAULT 'agendada',
  PRIMARY KEY (`id`),
  KEY `idx_data_hora` (`data_hora`),
  KEY `animal_id` (`animal_id`),
  KEY `veterinario_id` (`veterinario_id`),
  CONSTRAINT `consultas_ibfk_1` FOREIGN KEY (`animal_id`) REFERENCES `animais` (`id`),
  CONSTRAINT `consultas_ibfk_2` FOREIGN KEY (`veterinario_id`) REFERENCES `veterinarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `consultas`
--

LOCK TABLES `consultas` WRITE;
/*!40000 ALTER TABLE `consultas` DISABLE KEYS */;
INSERT INTO `consultas` VALUES (22,3,1,'2026-07-10 12:15:34','Animal saud├ível. Vacina├º├úo em dia. Retorno recomendado em 6 meses.',180.00,'concluida');
/*!40000 ALTER TABLE `consultas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `especies`
--

DROP TABLE IF EXISTS `especies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `especies` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(30) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nome` (`nome`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `especies`
--

LOCK TABLES `especies` WRITE;
/*!40000 ALTER TABLE `especies` DISABLE KEYS */;
INSERT INTO `especies` VALUES (1,'Cachorro'),(2,'Gato'),(3,'P├íssaro'),(4,'Peixe'),(5,'R├®ptil');
/*!40000 ALTER TABLE `especies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log_auditoria`
--

DROP TABLE IF EXISTS `log_auditoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `log_auditoria` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tabela_afetada` varchar(50) NOT NULL,
  `acao` varchar(20) NOT NULL COMMENT 'INSERT, UPDATE, DELETE',
  `registro_id` int(11) NOT NULL,
  `detalhes` text DEFAULT NULL,
  `data_hora` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_tabela` (`tabela_afetada`),
  KEY `idx_data` (`data_hora`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log_auditoria`
--

LOCK TABLES `log_auditoria` WRITE;
/*!40000 ALTER TABLE `log_auditoria` DISABLE KEYS */;
/*!40000 ALTER TABLE `log_auditoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pagamentos`
--

DROP TABLE IF EXISTS `pagamentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pagamentos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `consulta_id` int(11) NOT NULL,
  `valor_pago` decimal(10,2) NOT NULL DEFAULT 0.00,
  `forma_pagamento` enum('pix','cartao','dinheiro','convenio') NOT NULL,
  `data_pagamento` datetime NOT NULL,
  `status` enum('pago','pendente','cancelado') NOT NULL DEFAULT 'pendente',
  PRIMARY KEY (`id`),
  UNIQUE KEY `consulta_id` (`consulta_id`),
  CONSTRAINT `pagamentos_ibfk_1` FOREIGN KEY (`consulta_id`) REFERENCES `consultas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pagamentos`
--

LOCK TABLES `pagamentos` WRITE;
/*!40000 ALTER TABLE `pagamentos` DISABLE KEYS */;
INSERT INTO `pagamentos` VALUES (42,22,180.00,'pix','2026-07-03 09:15:39','pago');
/*!40000 ALTER TABLE `pagamentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tutores`
--

DROP TABLE IF EXISTS `tutores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tutores` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) NOT NULL,
  `cpf` varchar(14) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `telefone` varchar(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cpf` (`cpf`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tutores`
--

LOCK TABLES `tutores` WRITE;
/*!40000 ALTER TABLE `tutores` DISABLE KEYS */;
/*!40000 ALTER TABLE `tutores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `veterinarios`
--

DROP TABLE IF EXISTS `veterinarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `veterinarios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) NOT NULL,
  `crmv` varchar(20) NOT NULL,
  `especialidade` varchar(50) NOT NULL,
  `telefone` varchar(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `crmv` (`crmv`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `veterinarios`
--

LOCK TABLES `veterinarios` WRITE;
/*!40000 ALTER TABLE `veterinarios` DISABLE KEYS */;
INSERT INTO `veterinarios` VALUES (1,'Dra. Ana Silva','CRMV-SP 12345','Cirurgia','11999998888');
/*!40000 ALTER TABLE `veterinarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `vw_agenda_hoje`
--

DROP TABLE IF EXISTS `vw_agenda_hoje`;
/*!50001 DROP VIEW IF EXISTS `vw_agenda_hoje`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_agenda_hoje` AS SELECT
 1 AS `consulta_id`,
  1 AS `data_hora`,
  1 AS `status_consulta`,
  1 AS `diagnostico`,
  1 AS `valor_consulta`,
  1 AS `animal`,
  1 AS `especie`,
  1 AS `tutor`,
  1 AS `telefone_tutor`,
  1 AS `veterinario`,
  1 AS `especialidade`,
  1 AS `forma_pagamento`,
  1 AS `status_pagamento` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vw_animais_detalhados`
--

DROP TABLE IF EXISTS `vw_animais_detalhados`;
/*!50001 DROP VIEW IF EXISTS `vw_animais_detalhados`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_animais_detalhados` AS SELECT
 1 AS `animal`,
  1 AS `especie`,
  1 AS `tutor`,
  1 AS `telefone_tutor`,
  1 AS `total_consultas` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vw_consultas_completas`
--

DROP TABLE IF EXISTS `vw_consultas_completas`;
/*!50001 DROP VIEW IF EXISTS `vw_consultas_completas`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_consultas_completas` AS SELECT
 1 AS `consulta_id`,
  1 AS `data_hora`,
  1 AS `status_consulta`,
  1 AS `diagnostico`,
  1 AS `valor_consulta`,
  1 AS `animal`,
  1 AS `especie`,
  1 AS `tutor`,
  1 AS `telefone_tutor`,
  1 AS `veterinario`,
  1 AS `especialidade`,
  1 AS `forma_pagamento`,
  1 AS `status_pagamento` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vw_faturamento_mensal`
--

DROP TABLE IF EXISTS `vw_faturamento_mensal`;
/*!50001 DROP VIEW IF EXISTS `vw_faturamento_mensal`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_faturamento_mensal` AS SELECT
 1 AS `ano`,
  1 AS `mes`,
  1 AS `veterinario`,
  1 AS `total_consultas`,
  1 AS `faturamento_total` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vw_inadimplentes`
--

DROP TABLE IF EXISTS `vw_inadimplentes`;
/*!50001 DROP VIEW IF EXISTS `vw_inadimplentes`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_inadimplentes` AS SELECT
 1 AS `consulta_id`,
  1 AS `data_hora`,
  1 AS `valor_consulta`,
  1 AS `animal`,
  1 AS `tutor`,
  1 AS `telefone_tutor`,
  1 AS `status_pagamento` */;
SET character_set_client = @saved_cs_client;

--
-- Dumping routines for database 'petvida'
--
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP FUNCTION IF EXISTS `fn_classificar_valor` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_classificar_valor`(valor DECIMAL(10,2)) RETURNS varchar(50) CHARSET utf8mb4 COLLATE utf8mb4_general_ci
    DETERMINISTIC
BEGIN

    DECLARE resultado VARCHAR(50);

    

    -- Classifica o valor em 3 categorias

    IF valor < 100 THEN

        SET resultado = 'Consulta Simples';

    ELSEIF valor <= 300 THEN

        SET resultado = 'Consulta Padr├úo';

    ELSE

        SET resultado = 'Procedimento Especial';

    END IF;

    

    RETURN resultado;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP FUNCTION IF EXISTS `fn_idade_animal` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_idade_animal`(data_nascimento DATE) RETURNS varchar(50) CHARSET utf8mb4 COLLATE utf8mb4_general_ci
    READS SQL DATA
    DETERMINISTIC
BEGIN

    DECLARE anos INT;

    DECLARE meses INT;

    DECLARE resultado VARCHAR(50);

    

    -- Calcula a diferen├ºa em ANOS desde a data de nascimento at├® hoje

    SET anos = TIMESTAMPDIFF(YEAR, data_nascimento, CURDATE());

    

    -- Calcula a diferen├ºa em MESES e pega apenas o resto (meses adicionais ap├│s os anos)

    SET meses = TIMESTAMPDIFF(MONTH, data_nascimento, CURDATE()) - (anos * 12);

    

    -- Monta a string no formato desejado

    SET resultado = CONCAT(anos, ' anos e ', meses, ' meses');

    

    RETURN resultado;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP FUNCTION IF EXISTS `fn_qtd_consultas_animal` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_qtd_consultas_animal`(p_animal_id INT) RETURNS int(11)
    READS SQL DATA
    DETERMINISTIC
BEGIN

    DECLARE total_consultas INT;

    

    -- Conta todas as consultas do animal (independente do status)

    SELECT COUNT(*)

    INTO total_consultas

    FROM consultas

    WHERE animal_id = p_animal_id;

    

    RETURN total_consultas;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP FUNCTION IF EXISTS `fn_status_emoji` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_status_emoji`(status VARCHAR(30)) RETURNS varchar(50) CHARSET utf8mb4 COLLATE utf8mb4_general_ci
    DETERMINISTIC
BEGIN

    DECLARE resultado VARCHAR(50);

    

    -- Mapeia cada status para seu emoji correspondente

    CASE status

        WHEN 'agendada' THEN

            SET resultado = '­ƒôà Agendada';

        WHEN 'em_atendimento' THEN

            SET resultado = '­ƒÅÑ Em Atendimento';

        WHEN 'concluida' THEN

            SET resultado = 'Ô£à Conclu├¡da';

        WHEN 'cancelada' THEN

            SET resultado = 'ÔØî Cancelada';

        ELSE

            SET resultado = 'ÔØô Desconhecido';

    END CASE;

    

    RETURN resultado;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP FUNCTION IF EXISTS `fn_total_gasto_tutor` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_total_gasto_tutor`(tutor_id INT) RETURNS decimal(10,2)
    READS SQL DATA
    DETERMINISTIC
BEGIN

    DECLARE total DECIMAL(10,2);

    

    -- Soma o valor de todas as consultas do tutor, exceto as canceladas

    SELECT COALESCE(SUM(c.valor), 0)

    INTO total

    FROM consultas c

    INNER JOIN animais a ON c.animal_id = a.id

    WHERE a.tutor_id = tutor_id

      AND c.status != 'cancelada';  -- Exclui consultas canceladas

    

    RETURN total;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_agendar_consulta` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_agendar_consulta`(

    IN p_animal_id      INT,

    IN p_vet_id         INT,

    IN p_data_hora      DATETIME,

    IN p_valor          DECIMAL(10,2)

)
BEGIN

    DECLARE v_animal_existe  INT DEFAULT 0;

    DECLARE v_vet_existe     INT DEFAULT 0;

    DECLARE v_conflito       INT DEFAULT 0;

    DECLARE v_consulta_id    INT;



    -- Valida animal

    SELECT COUNT(*) INTO v_animal_existe

    FROM animais WHERE id = p_animal_id;



    IF v_animal_existe = 0 THEN

        SIGNAL SQLSTATE '45000'

            SET MESSAGE_TEXT = 'Erro: animal n├úo encontrado.';

    END IF;



    -- Valida veterin├írio

    SELECT COUNT(*) INTO v_vet_existe

    FROM veterinarios WHERE id = p_vet_id;



    IF v_vet_existe = 0 THEN

        SIGNAL SQLSTATE '45000'

            SET MESSAGE_TEXT = 'Erro: veterin├írio n├úo encontrado.';

    END IF;



    -- Valida conflito de hor├írio (janela de 30 minutos)

    SELECT COUNT(*) INTO v_conflito

    FROM consultas

    WHERE veterinario_id = p_vet_id

      AND status NOT IN ('cancelada')

      AND ABS(TIMESTAMPDIFF(MINUTE, data_hora, p_data_hora)) < 30;



    IF v_conflito > 0 THEN

        SIGNAL SQLSTATE '45000'

            SET MESSAGE_TEXT = 'Erro: veterin├írio j├í possui consulta nesse hor├írio (janela de 30 min).';

    END IF;



    -- TRANSA├ç├âO: insere consulta e pagamento pendente

    START TRANSACTION;



        INSERT INTO consultas (animal_id, veterinario_id, data_hora, diagnostico, valor, status)

        VALUES (p_animal_id, p_vet_id, p_data_hora, NULL, p_valor, 'agendada');



        SET v_consulta_id = LAST_INSERT_ID();



        INSERT INTO pagamentos (consulta_id, valor_pago, forma_pagamento, data_pagamento, status)

        VALUES (v_consulta_id, 0.00, 'pendente', NOW(), 'pendente');



    COMMIT;



    SELECT v_consulta_id AS consulta_id,

           'Consulta agendada com sucesso!' AS mensagem;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_cadastrar_animal` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_cadastrar_animal`(

    IN  p_nome        VARCHAR(50),

    IN  p_especie_id  INT,

    IN  p_raca        VARCHAR(30),

    IN  p_nascimento  DATE,

    IN  p_tutor_id    INT

)
BEGIN

    DECLARE v_tutor_existe   INT DEFAULT 0;

    DECLARE v_especie_existe INT DEFAULT 0;

    DECLARE v_animal_id      INT;



    -- Valida tutor

    SELECT COUNT(*) INTO v_tutor_existe

    FROM tutores WHERE id = p_tutor_id;



    IF v_tutor_existe = 0 THEN

        SIGNAL SQLSTATE '45000'

            SET MESSAGE_TEXT = 'Erro: tutor n├úo encontrado.';

    END IF;



    -- Valida esp├®cie (tabela especies do seed)

    SELECT COUNT(*) INTO v_especie_existe

    FROM especies WHERE id = p_especie_id;



    IF v_especie_existe = 0 THEN

        SIGNAL SQLSTATE '45000'

            SET MESSAGE_TEXT = 'Erro: esp├®cie n├úo encontrada.';

    END IF;



    INSERT INTO animais (nome, especie_id, raca, data_nascimento, tutor_id)

    VALUES (p_nome, p_especie_id, p_raca, p_nascimento, p_tutor_id);



    SET v_animal_id = LAST_INSERT_ID();



    SELECT v_animal_id AS animal_id,

           'Animal cadastrado com sucesso!' AS mensagem;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_cancelar_consulta` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_cancelar_consulta`(

    IN p_consulta_id INT

)
BEGIN

    DECLARE v_existe    INT DEFAULT 0;

    DECLARE v_status    VARCHAR(20);



    -- Valida exist├¬ncia

    SELECT COUNT(*), status INTO v_existe, v_status

    FROM consultas WHERE id = p_consulta_id;



    IF v_existe = 0 THEN

        SIGNAL SQLSTATE '45000'

            SET MESSAGE_TEXT = 'Erro: consulta n├úo encontrada.';

    END IF;



    IF v_status = 'cancelada' THEN

        SIGNAL SQLSTATE '45000'

            SET MESSAGE_TEXT = 'Erro: consulta j├í est├í cancelada.';

    END IF;



    IF v_status = 'concluida' THEN

        SIGNAL SQLSTATE '45000'

            SET MESSAGE_TEXT = 'Erro: n├úo ├® poss├¡vel cancelar uma consulta j├í conclu├¡da.';

    END IF;



    -- TRANSA├ç├âO: cancela consulta e pagamento

    START TRANSACTION;



        UPDATE consultas

        SET status = 'cancelada'

        WHERE id = p_consulta_id;



        UPDATE pagamentos

        SET status = 'cancelado'

        WHERE consulta_id = p_consulta_id;



    COMMIT;



    SELECT 'Consulta cancelada com sucesso!' AS mensagem;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_concluir_consulta` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_concluir_consulta`(

    IN p_consulta_id INT,

    IN p_diagnostico TEXT

)
BEGIN

    DECLARE v_existe  INT DEFAULT 0;

    DECLARE v_status  VARCHAR(20);



    -- Valida exist├¬ncia

    SELECT COUNT(*), status INTO v_existe, v_status

    FROM consultas WHERE id = p_consulta_id;



    IF v_existe = 0 THEN

        SIGNAL SQLSTATE '45000'

            SET MESSAGE_TEXT = 'Erro: consulta n├úo encontrada.';

    END IF;



    IF v_status = 'concluida' THEN

        SIGNAL SQLSTATE '45000'

            SET MESSAGE_TEXT = 'Erro: consulta j├í est├í conclu├¡da.';

    END IF;



    IF v_status = 'cancelada' THEN

        SIGNAL SQLSTATE '45000'

            SET MESSAGE_TEXT = 'Erro: n├úo ├® poss├¡vel concluir uma consulta cancelada.';

    END IF;



    UPDATE consultas

    SET status      = 'concluida',

        diagnostico = p_diagnostico

    WHERE id = p_consulta_id;



    SELECT 'Consulta conclu├¡da com sucesso!' AS mensagem;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_registrar_pagamento` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_registrar_pagamento`(

    IN p_consulta_id      INT,

    IN p_forma_pagamento  VARCHAR(20)

)
BEGIN

    DECLARE v_pagamento_id  INT;

    DECLARE v_status_pag    VARCHAR(20);

    DECLARE v_valor         DECIMAL(10,2);



    -- Valida exist├¬ncia do pagamento vinculado

    SELECT p.id, p.status, c.valor

    INTO v_pagamento_id, v_status_pag, v_valor

    FROM pagamentos p

    JOIN consultas c ON c.id = p.consulta_id

    WHERE p.consulta_id = p_consulta_id

    LIMIT 1;



    IF v_pagamento_id IS NULL THEN

        SIGNAL SQLSTATE '45000'

            SET MESSAGE_TEXT = 'Erro: nenhum pagamento encontrado para esta consulta.';

    END IF;



    IF v_status_pag = 'pago' THEN

        SIGNAL SQLSTATE '45000'

            SET MESSAGE_TEXT = 'Erro: pagamento j├í foi registrado para esta consulta.';

    END IF;



    IF v_status_pag = 'cancelado' THEN

        SIGNAL SQLSTATE '45000'

            SET MESSAGE_TEXT = 'Erro: n├úo ├® poss├¡vel registrar pagamento de uma consulta cancelada.';

    END IF;



    UPDATE pagamentos

    SET status           = 'pago',

        valor_pago       = v_valor,

        forma_pagamento  = p_forma_pagamento,

        data_pagamento   = NOW()

    WHERE id = v_pagamento_id;



    SELECT 'Pagamento registrado com sucesso!' AS mensagem,

           v_valor AS valor_pago,

           p_forma_pagamento AS forma;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Final view structure for view `vw_agenda_hoje`
--

/*!50001 DROP VIEW IF EXISTS `vw_agenda_hoje`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_agenda_hoje` AS select `vw_consultas_completas`.`consulta_id` AS `consulta_id`,`vw_consultas_completas`.`data_hora` AS `data_hora`,`vw_consultas_completas`.`status_consulta` AS `status_consulta`,`vw_consultas_completas`.`diagnostico` AS `diagnostico`,`vw_consultas_completas`.`valor_consulta` AS `valor_consulta`,`vw_consultas_completas`.`animal` AS `animal`,`vw_consultas_completas`.`especie` AS `especie`,`vw_consultas_completas`.`tutor` AS `tutor`,`vw_consultas_completas`.`telefone_tutor` AS `telefone_tutor`,`vw_consultas_completas`.`veterinario` AS `veterinario`,`vw_consultas_completas`.`especialidade` AS `especialidade`,`vw_consultas_completas`.`forma_pagamento` AS `forma_pagamento`,`vw_consultas_completas`.`status_pagamento` AS `status_pagamento` from `vw_consultas_completas` where cast(`vw_consultas_completas`.`data_hora` as date) = curdate() order by `vw_consultas_completas`.`data_hora` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_animais_detalhados`
--

/*!50001 DROP VIEW IF EXISTS `vw_animais_detalhados`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_animais_detalhados` AS select `a`.`nome` AS `animal`,`e`.`nome` AS `especie`,`t`.`nome` AS `tutor`,`t`.`telefone` AS `telefone_tutor`,count(`c`.`id`) AS `total_consultas` from (((`animais` `a` join `especies` `e` on(`a`.`especie_id` = `e`.`id`)) join `tutores` `t` on(`a`.`tutor_id` = `t`.`id`)) left join `consultas` `c` on(`c`.`animal_id` = `a`.`id`)) group by `a`.`id`,`a`.`nome`,`e`.`nome`,`t`.`nome`,`t`.`telefone` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_consultas_completas`
--

/*!50001 DROP VIEW IF EXISTS `vw_consultas_completas`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_consultas_completas` AS select `c`.`id` AS `consulta_id`,`c`.`data_hora` AS `data_hora`,`c`.`status` AS `status_consulta`,`c`.`diagnostico` AS `diagnostico`,`c`.`valor` AS `valor_consulta`,`a`.`nome` AS `animal`,`e`.`nome` AS `especie`,`t`.`nome` AS `tutor`,`t`.`telefone` AS `telefone_tutor`,`v`.`nome` AS `veterinario`,`v`.`especialidade` AS `especialidade`,`p`.`forma_pagamento` AS `forma_pagamento`,`p`.`status` AS `status_pagamento` from (((((`consultas` `c` join `animais` `a` on(`c`.`animal_id` = `a`.`id`)) join `especies` `e` on(`a`.`especie_id` = `e`.`id`)) join `tutores` `t` on(`a`.`tutor_id` = `t`.`id`)) join `veterinarios` `v` on(`c`.`veterinario_id` = `v`.`id`)) left join `pagamentos` `p` on(`p`.`consulta_id` = `c`.`id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_faturamento_mensal`
--

/*!50001 DROP VIEW IF EXISTS `vw_faturamento_mensal`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_faturamento_mensal` AS select year(`vw_consultas_completas`.`data_hora`) AS `ano`,month(`vw_consultas_completas`.`data_hora`) AS `mes`,`vw_consultas_completas`.`veterinario` AS `veterinario`,count(0) AS `total_consultas`,sum(`vw_consultas_completas`.`valor_consulta`) AS `faturamento_total` from `vw_consultas_completas` group by year(`vw_consultas_completas`.`data_hora`),month(`vw_consultas_completas`.`data_hora`),`vw_consultas_completas`.`veterinario` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_inadimplentes`
--

/*!50001 DROP VIEW IF EXISTS `vw_inadimplentes`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_inadimplentes` AS select `c`.`id` AS `consulta_id`,`c`.`data_hora` AS `data_hora`,`c`.`valor` AS `valor_consulta`,`a`.`nome` AS `animal`,`t`.`nome` AS `tutor`,`t`.`telefone` AS `telefone_tutor`,`p`.`status` AS `status_pagamento` from (((`consultas` `c` join `animais` `a` on(`c`.`animal_id` = `a`.`id`)) join `tutores` `t` on(`a`.`tutor_id` = `t`.`id`)) left join `pagamentos` `p` on(`p`.`consulta_id` = `c`.`id`)) where `c`.`status` = 'concluida' and (`p`.`status` = 'pendente' or `p`.`id` is null) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-03  9:26:54
