# Dependências do Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Variáveis de ambiente
.env
.env.*
!.env.example

# Arquivos de backup e saídas locais
backups/*
!backups/*.sql
coverage/
dist/
build/

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
